.App {
  text-align: center;
}

.App-header {
  background-color: #54c88b;
  height: 50px;
  padding: 20px;
  color:red;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 150%;
}
